<script type="text/javascript">
    RED.nodes.registerType('any_split',{
        category: 'authomize_utils',
        color: '#a6bbcf',
        defaults: {
            name: {value:"Any split"},
	    property: {value: "payload"},
	    output_field_name: {value: "splitted"}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"any_split";
        }
    });
</script>
<script type="text/html" data-template-name="any_split">
  <div class="form-row">
    <label for="node-input-property"><i class="fa fa-tag"></i>Property to split</label>
    <input type="text" id="node-input-property" placeholder="Property" ng-model="config.property">
  </div>
  <div class="form-row">
    <label for="node-input-output_field_name"><i class="fa fa-tag"></i>Output field name</label>
    <input type="text" id="node-input-output_field_name" placeholder="output_field_name" ng-model="config.output_field_name">
   </div>
</script>
<script type="text/html" data-help-name="any_split">
  <p>Splits the specified property into individual messages.</p>
</script>
